.dark {
    transition: all 0.3s;
    color: var(--white) !important;
    background-image: none !important;
    background-color: var(--dark-blue) !important;
    text-shadow: none !important;
    box-shadow: none;
}